{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - content: The content of this block placholder.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 *
 * @see template_preprocess_block_placeholder()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes }}>
  <div{{ content_attributes }}>
    {{ content }}
  </div>
</div>
